<html>
    <head>
        <style>
            #search-results tr:hover {
                background-color: lightgray;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div>
            <form id="search-form" onsubmit="return false;">
                <input name="search" />
                <input type="submit" value="Search" onclick="submitSearch()" />
            </form>
        </div>

        <div style="margin-top:10px; border:1px solid grey;">
            <h3>Search result:</h3>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Year</th>
                        <th>Id</th>
                    </tr>
                </thead>
                <tbody id="search-results"></tbody>
            </table>
        </div>

        <div style="margin-top:10px; border:1px solid grey;">
            <h3>ALREADY SAVED POSITIONS:</h3>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Classification</th>
                        <th>Owi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="view-results">
                    {{range .Books}}
                        <tr id="row-{{.Owi}}">
                            <td>{{.Title}}</td>
                            <td>{{.Author}}</td>
                            <td>{{.Classification}}</td>
                            <td>{{.Owi}}</td>
                            <td><button onclick="deleteOne({{.Owi}})">Delete</button></td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript">
            function deleteOne(owi) {
                $.ajax({
                    url: "/books/remove?owi=" + owi,
                    method: "GET",
                    success: function() {
                        $("#row-" + owi).remove();
                    }
                });

                return false;
            }
            function submitSearch() {
                $.ajax({
                    url: "/search",
                    method: "POST",
                    data: $("#search-form").serialize(),
                    success: function(rawData) {
                        var parsed = JSON.parse(rawData);

                        if (!parsed) return;

                        var searchResults = $("#search-results");

                        searchResults.empty();

                        parsed.forEach(function(result){
                            var row = $("<tr><td>" + result.Title + "</td><td>" + result.Author + "</td><td>" + result.Year + "</td><td>" + result.ID + "</td></tr>");
                            
                            searchResults.append(row);

                            row.on("click", function() {
                                $.ajax({
                                    url: "/books/add?id=" + result.ID,
                                    method: "GET",
                                    success: function(data) {
                                        var book = JSON.parse(data);

                                        if (!book) {
                                            return false;
                                        }

                                        $("#view-results").append("<tr id=\"row-" + book.Owi + "\"><td>" + book.Title + "</td><td>" + book.Author + "</td><td>" + book.Classification + "</td><td>" + book.Owi + "</td><td><button onclick=\"deleteOne(" + book.Owi + ")\">Delete</button></td></tr>");
                                    }
                                })
                            });
                        });
                    }
                });

                return false;
            }
        </script>
    </body>
</html>